


<div class="row">
  <div class="col-sm-6">
    <h1>Listings</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_listing_path, class: 'btn btn-primary' do %>
    Add New Listing
  <% end %>
  </div>
</div>

<!--  -->
<div class="container mx-auto">
  <h1 class="text-2xl font-bold mb-4">EV Charge Station Locations</h1>
  <div class="flex mb-4">
    <input type="text" class="flex-1 border border-gray-400 p-2 mr-2" placeholder="Search for a location">
    <button class="bg-blue-500 text-white p-2">Search</button>
  </div>

  <%= render "results" %>
</div>
