<div class="content text-black">
    <div class="flex justify-between">
      <button class="close btn button-primary" data-action="click->visit-dialog#closeDialog">
        <i class="fas fa-times fa-lg"></i>&nbsp;&nbsp; Done
      </button>
    </div>
</div>
<!-- sumission successful -->
<div class="alert alert-success">
  <strong>Thank you!</strong> People rely on your experience.
</div>

