<%= turbo_stream.update "modal" do %>
  <%= render "create_successful" %>
  <p>super Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt accusantium optio architecto fugiat ad quisquam ipsam dolor sit. Excepturi, explicabo voluptates. Sunt neque laborum reiciendis at sapiente aspernatur sit alias?</p>
<% end %>