    <!-- modal: visit start -->
    <%= turbo_frame_tag "modal" do %>
        <div data-controller="turbomodal" data-action="turbo:submit-end->turbomodal#submitEnd">
            <div class="fixed inset-0 flex items-center justify-center z-50">
                <div class="fixed inset-0 bg-gray-500 opacity-75"></div>
                    <div class="relative bg-white w-1/2 md:w-1/3 lg:w-1/4 p-6 rounded-lg">
                        <!-- Modal content goes here -->
                        <h1>New visit</h1>

                        <%= render 'form', visit: @visit %>
                    </div>
            </div>
        </div>

<% end %>
    <!-- modal: visit finish -->
