    <!-- modal: visit start -->
    <% @location = Location.find(params[:location_id]) %>
    <%= turbo_frame_tag "modal" do %>
        <div data-controller="turbomodal" data-action="turbo:submit-end->turbomodal#submitEnd" class="location-detail-modal">
<!--  -->
                <!-- HTML code for the dialog -->
                <div class="fixed inset-0 bg-gray-300 bg-opacity-75">
                        <div class="bg-gray-300 rounded-lg w-full md:w-1/2 mx-auto h-screen">
                                <header class="flex justify-between items-center py-4 px-6 bg-gray100 text-black">
                                        <div class="flex-shrink-0">
                                                <a href="#" class="text-blue-700 hover:text-blue-500">Cancel</a>
                                        </div>
                                        <div class="flex flex-col justify-center items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-300" viewBox="0 0 20 20" fill="bg-green-700">
                                                <path fill-rule="evenodd" d="M10 0a10 10 0 1 0 10 10A10 10 0 0 0 10 0zm5.218 10.898l-4.98 4.98c-.195.195-.452.293-.708.293-.256 0-.513-.098-.708-.293l-4.98-4.98a.999.999 0 1 1 1.414-1.414L10 12.586l4.804-4.804a.999.999 0 1 1 1.414 1.414z" />
                                                </svg>
                                                <h1 class="text-lg font-bold text-center mb-1"><%= @location.name %></h1>
                                        </div>
                                        <div class="flex-shrink-0">
                                                <a href="#" class="text-blue-700 hover:text-blue-500">Done</a>
                                        </div>
                                </header>
                                <%= render 'form', visit: @visit %>
                                <footer class="flex justify-end py-4 px-6  text-black">
                                        <p>Ratings and photos are associated with your membership account.  By contributing, you agree to the Terms.</p>
                                </footer>            
                        </div>
                </div>
<!--  -->
        </div>

<% end %>
    <!-- modal: visit finish -->
