<%= turbo_frame_tag "app-modal" do %>

    <div class="app-modal center-modal  bg-blue-800 text-black">
        <h1 class="text-center border-b-4 border-grey-800 ">
            <%= @location.name %>
        </h1>
        <%= render 'form', visit: @visit %>
    </div>
<% end %>