<div class="value-prop value-prop-<%= benefit.keyword %>">
    <div class="value-props-pin-wrapper">
        pin graphic goes here
    </div>
    <h2 class="value-prop-title"><%= benefit.subtitle %></h2>
</div> 
