<!-- value prop list -->
<div class="value-props-headline" data-anim-tween="" style="opacity: 1;">
    <%= image_tag 'https://www.apple.com/v/maps/d/images/overview/intro_icon__dfyvjc1ohbcm_large.png' %>
    <h2 class="typography-value-props-headline">Better ways ahead.</h2>
</div>
<!-- value prop list -->

<!-- value prop list -->
<%= render partial: "value_prop", collection: @value_props, as: :benefit %>
<!-- /value prop list -->