<header>
<div class="hero" >
    <%# unsplash photo as a hero %>
    <%= image_tag 'https://source.unsplash.com/category/nature/1600x900' %>
</div>
<%# image to  %>
<section class="section-value-props section">

</section>
<div class="value-prop value-prop-navigation">
</div>

<p>lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatem, voluptatum, quia, quibusdam, voluptas quidem quod voluptate quos doloremque doloribus natus accusantium repellat. Quisquam, voluptatem, voluptatum, quia, quibusdam, voluptas quidem quod voluptate quos doloremque doloribus natus accusantium repellat.</p>
<%= render "value_prop_list" %>
<%= render "card_stack" %>
