<p>lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatem, voluptatum, quia, quibusdam, voluptas quidem quod voluptate quos doloremque doloribus natus accusantium repellat. Quisquam, voluptatem, voluptatum, quia, quibusdam, voluptas quidem quod voluptate quos doloremque doloribus natus accusantium repellat.</p>
<%= render "card_stack" %>
