<link rel="stylesheet" href="https://cdn.tailwindcss.com/css/tailwind.min.css">

   <style>
      .bg-image {
         background-image: url('/assets/ev_station_for_landing01');
         background-size: cover;
         background-position: center;
         display: flex;
         align-items: center;
         justify-content: center;
         color: white;
      }
   </style>

<section class="h-screen w-screen bg-image">
&nbsp;
</section>
<%# intro section %>

<%# benefit highlight section %>
<div class="section-content text-color-black" style="background: #fff">
  <%= render partial: 'benefits/highlight', collection: @benefits, as: :benefit %>

</div>

<%# benefit detail cards section %>
<section>
    <div class="section-tiles-grid">
        <div class="map-background">
        </div>
        <div class="tile-sections">
            <%= render partial: 'benefits/card', collection: @benefits, as: :benefit %>
        
        </div>
    </div>
</section>
<%# faq section %>
<%# start now section %>
<%# footer section %>


<%#= render partial: 'benefits/card', collection: @benefits, as: :benefit %>

</main>
  