<li class="flex items-center justify-between mb-2">
    <div class="flex items-center">
      <span style="color: Tomato;">
        <i class="fas fa-bolt"></i>
      </span>
      <div class="flex">
        <!-- <div>J1772</div> -->
        <div class="ml-2">Level One</div>
      </div>
    </div>
    <div>Total <%= location.level_one_charger_count.to_i %></div>
  </li>
