/*
 *= require font-awesome
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

 
 /* static home page */
.hero-image {
    background-image: url(/assets/hero_image.jpg);
    height: 64px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .hero-content {
    position: relative;
    padding: 10px;
  }
  
  .hero-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  
  .hero-text {
    color: white;
    font-size: 18px;
  }
  /* modal for locations */
  
  
 .app-modal {
  position: fixed;
  z-index: 111;
  padding: 2em;
  
  /* Centering */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  /* Add the drop shadow */
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.19);
}

.cancel-button {
  background-color: #1530ff;
  font-size: 12px;
  color: white;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  text-decoration: none;
}
.cancel-button:hover {
  background-color: #2640fe;
} 