<p>photo</p>
<h1>location name</h1>
<p>star rating</p>
<a href="#" class="link-to-review">8 reviews</a>
<button jsaction="pane.rating.category" 
        jstcache="310" 
        class="DkEaL u6ijk" 
        jsan="7.DkEaL,7.u6ijk,0.jsaction">
        Electric vehicle charging station
</button>