<div id="<%= dom_id location %>">

  <p>
    <strong>Formatted address:</strong>
    <%= link_to "#{location.name}", location, class: "text-color-blue-500" %> -- <%= "#{location.formatted_address} "%>
  </p>


</div>
