<div class="w-full mb-8  mr-8">
    <div class="flex items-center mb-2">
      <img src="https://via.placeholder.com/50x50" class="w-10 h-10 rounded-full mr-4"/>
      <div class="text-sm">
        <p class="font-medium mb-1">John Doe</p>
        <p class="text-gray-500">5 Reviews</p>
      </div>
    </div>
    <div class="flex items-center mb-2">
      <i class="fas fa-star text-yellow-400 mr-2"></i>
      <i class="fas fa-star text-yellow-400 mr-2"></i>
      <i class="fas fa-star text-yellow-400 mr-2"></i>
      <i class="fas fa-star text-yellow-400 mr-2"></i>
      <i class="fas fa-star text-yellow-400 mr-2"></i>
      <p class="text-sm text-gray-500 ml-2">5 months ago</p>
    </div>
      <div class="mt-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae erat vel nisl commodo sollicitudin. Donec vel bibendum sem.</p>
</div>
    <img src="https://via.placeholder.com/400x200" class="w-full"/>
  </div>
