<= turbo_stream.update "content" %>
    <hr>
    <h1>third page</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa officia iure repellendus dolores! Veritatis ullam harum asperiores saepe, quisquam debitis quos alias. Quasi incidunt labore dolorem sapiente quam quis veritatis!
    </p>
    <hr>

<% end %>